:root { 
  --primary-color: #3B3A36;
  --secondary-color: #724A30;
  --background-color: white;
  --icon-color: #E53935;
  --active-player-color: #D7CCC8;
  --inactive-box-shadow-color: #ABB2B9;
  --body-box-shadow-color: #D5D8DC;
  --active-box-shadow-color: #2C3E50;
}

body {
  font-family: Lato;
}

i {
  padding-right: 8px;
  color: var(--icon-color);
  font-size: 24px;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
}
button:disabled {
  cursor: auto;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--secondary-color);
  padding-bottom: 20px;
}

.game-container {
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  width: 80%;
  height: 500px;
  box-shadow: 16px 15px 38px 18px var(--body-box-shadow-color);
}

.container {
  display: flex;
  flex-direction: column;
  flex: 0 0 32%;
  align-items: center;
  justify-content: center;
  padding: 20px 20px 40px;
  background-color: var(--background-color);
}

.player-name {
  display: flex;
  justify-content: center;
}

.bullet-pt {
  display: none;
  color: var(--icon-color);
  font-size: 36px;
  padding: 10px 0 0 8px;
}
.is-active > .player-name > .bullet-pt {
  display: block;
}

.player-score {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding:  20px;
  color: var(--secondary-color);
}

.round-score {
  flex: 1;
  justify-content: center;
  margin-bottom: 10px;
}

.global-score {
  margin-top: auto;
  background-color: var(--primary-color);
  color: white;
  box-shadow: 8px 2px 13px 0px var(--inactive-box-shadow-color);
}


.global-score > .score-number {
  font-size: 65px;
  color: var(--icon-color);
}
.round-score > .score-number {
  font-size: 81px;
  color: var(--icon-color); 
}

.is-active {
  background-color: var(--active-player-color);
} 

.is-active > .global-score {
  box-shadow: 8px 2px 13px 0px var(--active-box-shadow-color);
}

.title-current-player {
  display: flex;
  align-items: center;
}

.pig-icon {
  width: 70px;
}

.dice-image {
  display: none;
  width: 88px;
  border: 1px solid var(--primary-color);
  box-shadow: 4px 5px 7px 0px var(--inactive-box-shadow-color);
}

.dice-roll-results {
  padding: 20px 0;
}

.result-roundlost {
  display: none;
}

.result-holdresult {
  display: none;
}

.player-moves {
  display: flex;
  flex-direction: column;
}

.result-showdiceresult {
  display: none;
}

.player-one-crown {
  visibility: hidden;
  width: 70px;
}

.player-two-crown {
  visibility: hidden;
  width: 70px;
}

.winner > button {
  color: gray;
}
.winner > button > i {
  color: gray;
}

.result-winner {
  display: none;
}
